html{
    margin: 0;
    padding: 0;
    background: #efefef;
    color: #fff;
}
body{
    width: 80%;
    margin: 10px auto;
}
.limpiar{
    clear: both;
}
header, nav, aside, section, article, footer{
    margin: 10px 0;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Tahoma';
}
header{
    background: #B7B9B8;
}
nav{
    background: #FF2C8F;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
    padding: 4px 10px;
    border: 1px solid #fff;
    border-radius: 4px;
}
aside{
    float: left;
    width: 25%;
    height: 200px;
    background: #5A9E95;
}
section{
    float: right;
    width: 70%;
    height: 200px;
    background: #96BC6C;
}
aside div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
article{
    margin: 10px auto;
    background: #0072BC;
    width: 90%;
}
footer{
    background: #F36623;
}